[Desktop Entry]
Name=Windows-Eleven
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Windows-Eleven
X-KDE-PluginInfo-Version=1.0
